{
	"extends": [
		"stylelint-config-recommended",
		"stylelint-config-styled-components"
	],
	"plugins": [
		"stylelint-order"
	],
	"defaultSeverity": "warning",
	"rules": {
		"at-rule-empty-line-before": [
			"always",
			{
				"except": [
					"after-same-name",
					"first-nested",
					"blockless-after-same-name-blockless"
				],

				"ignore": [
					"after-comment"
				],

				"ignoreAtRules": [
					"if",
					"media"
				]
			}
		],
		"at-rule-no-unknown": null,
		"at-rule-no-vendor-prefix": true,
		"custom-property-empty-line-before": null,
		"font-family-no-missing-generic-family-keyword": null,
		"media-feature-name-no-vendor-prefix": true,
		"property-no-vendor-prefix": true,
		"selector-no-vendor-prefix": true,
		"value-no-vendor-prefix": true,
		"max-line-length": [
			120,
			{
				"ignore": [
					"comments"
				]
			}
		],
		"max-nesting-depth": [
			4,
			{
				"ignore": [
					"blockless-at-rules"
				]
			}
		],
		"no-descending-specificity": null,
		"number-leading-zero": "always",
		"selector-max-compound-selectors": 4,
		"selector-max-specificity": "1,4,1",
		"indentation": "tab",
		"no-eol-whitespace": null,
		"no-duplicate-selectors": null,

		"order/properties-alphabetical-order": true
	},
	"ignoreFiles": [
		"node_modules"
	]
}
